*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

:root{
    --primary-color: #02274d;
    --secondary-colorL: aliceblue;

}



.body{
    background: #02274d;
    color: aliceblue;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/blueorgbackground.png);
    background-size: cover;
    background-position: center;
}
#icon{
    width: 30px;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 5px 0;

}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f94903;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;

}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 20px;
    color: aliceblue;

}

.header-text h1{
    font-size: 30px;
    margin-top: 5px;
    color: aliceblue;
}

.header-text h2{
    font-size: 30px;
    margin-top: 5px;
    color: aliceblue;
}

.header-text h2 span{
    color: #f94903;
}

/* <!-- --------------about--------------- --> */

#about{
    padding: 60px 0;
    color: #0c118c;
    font-size: 14px;
    font-weight: 200;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 80%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    font-size: 20px;
}

.sub-title{
    font-size: 13px;
    font-weight: 350;
    color: #0c118c;
    
}

.tab-titles{
    margin-top: 10px;
    display: flex;
    
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f94903;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0,5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 250;
}

.tab-contents ul li span{
    color: #f94903;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}





